@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


body {
    font-family: 'Inter', sans-serif;
    background: #f8fafc;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #0d6efd;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 30px;
}

h1 {
    margin-top: 0;
    font-size: 28px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    background: #f1f5f9;
    margin-bottom: 12px;
    padding: 16px;
    border-left: 5px solid #0d6efd;
    border-radius: 4px;
}

code {
    background: #e2e8f0;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 14px;
}

.method {
    font-weight: bold;
    margin-right: 10px;
    color: #0d6efd;
}