@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

th, td {  
  align-items: center;  
  text-align: center;
  vertical-align: middle;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex;
    place-items: center; */
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
  }
}


.layout-wrapper {
  display: flex;
  min-height: 100vh;
}

.layout-sidebar {
  width: 15rem;
  background: var(--surface-card);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: transform 0.3s ease;
}

.layout-main {
  /* margin-left: 15rem; */
  flex-grow: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}


.layout-topbar {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--surface-card);
  border-bottom: 1px solid var(--surface-border);
  padding: 0.5rem 1rem;
}

.layout-content {
  padding: 2rem;
  flex-grow: 1;
  background: var(--surface-ground);
}

/* Responsividade */
@media (max-width: 960px) {
  .layout-sidebar {
    transform: translateX(-100%);
  }
  
  .layout-sidebar.active {
    transform: translateX(0);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .layout-main {
    margin-left: 0;
  }
}

/* Animações suaves */
.layout-sidebar, .layout-main {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.page-item.active .page-link {
  background-color: #212529;
  border-color: #212529;
  color: #fff !important;
  
}
.page-link {  
  cursor: pointer;
  color: #212529 !important;
}

.swal2-toast {
  font-size: 0.875rem !important;
  width: auto !important;
  padding: 1em !important;
}

header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {

  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}